/*SECCION: INICIAR_SESION.html*/
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 90px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container .controllers{
    width: 100%;
    padding: 18px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(189, 189, 189, 0.5);
    border-radius: 5px;
    color: #BDBDBD;
}

.login-container .input-submit{
    width: 250px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 10px 20px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(4, 165, 229, 1);
    background-color: #04A5E5;
    border-radius: 5px;
    margin: 0 auto;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forgot-password {
    margin: 10px 0;
    text-align: right;
}
.forgot-password a{
    text-decoration: none;
    color: rgba(4, 165, 229, 0.8);
}

.forgot-register{
    margin-top: 10px;
}
.forgot-register p{
    width: fit-content;
    margin: 0 auto;
    color: rgba(4, 165, 229, 0.8);
    font-weight: 700;
}
.forgot-register a{
    color: rgba(4, 165, 229, 1);
}